* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-image: url('../Imagens/fundo.jpg');
    background-size: cover;
    background-position-y: -200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

#cardsAuxilio img {
    width: 222px;
    height: 222px;
}

#cardsAuxilio h5{
    font-weight: bold;
}

#cardsAuxilio col{
    width: 18rem;
}
#myFooter {
    background-color: #3c3d41;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter h2{
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}
#myFooter img {
    padding-top: 10px;
    padding-bottom: 5px;
    width:120px;
    height:60px;
}
#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 5px;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .fa-github:hover {
    color: #FFFFFF;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

html{
    height: 100%;
}

.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

